.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8); /*dim the background*/
}
}

.container {
  position: relative;
}

.jumbotron {
  text-align: center;
  font-family: monospace;
  background-color: transparent;
}

#game-board {
  display: none;
  margin-top: 10em;
  width: 100%;
  height: 100%;
}

#panel-body {
  text-align: center;
  font-family: monospace;
  list-style: none;
  font-size: 20px;
}

.panel {
  border: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#player-select-heading{
  font-family: monospace;
  background-color: transparent;
}

.panel-heading h2 {
  font-size: 2.5em;
}
.panel-heading {
  background-color: transparent;
  border: transparent;
}

.row-1 {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

.space-1, .space-4, .space-7 {
  border-right: 5px solid black;
  border-left: 5px solid black;
}

.row {
  height: 18em;
  text-align: center;
}

.col-md-4 {
  height: 18em;
}

.board p{
  display:inline-block;
  margin-top: 65%;
  font-size: 6em;
  width: 100%;
  text-align: center;
}

#playerOneWinner, #playerTwoWinner, #catsGame {
  display: none;
  height:10%;
  font-family: monospace;
  font-size: 1em;
  color: red;
  text-align: center;
  color: yellow;
}


.startOver {
  font-size: 20px;
}


@media screen and (min-width: 541px) {
  .board p {
    display:inline-block;
    margin-top: 3%;
    font-size: 10em;
    width: 100%;
    text-align: center;
  }

  #playerOneWinner, #playerTwoWinner, #catsGame {
    display: none;
    height:10%;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
    color: yellow;
  }



  .startOver {
    font-size: 20px;
    margin-top: 10px;
  }
}
