.jumbotron {
  text-align: center;
  font-family: monospace;
  background-color: transparent;
}

#game-board {
  display: none;
  position: center;
  margin-top: 10em;
  width: 100%;
  height: 100%;

}

#panel-body {
  text-align: center;
  font-family: monospace;
  list-style: none;
  font-size: 20px;
}

.panel {
  border: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#player-select-heading{
  font-family: monospace;
  background-color: transparent;
}

.panel-heading h2 {
  font-size: 40px;
}
.panel-heading {
  background-color: transparent;
  border: transparent;
}

.row-1 {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

.space-1, .space-4, .space-7 {
  border-right: 5px solid black;
  border-left: 5px solid black;
}

.row {
  height: 300px;
  text-align: center;
}

.col-md-4 {
  height: 300px;

}

.board p{
  display:inline-block;
  margin-top: 5%;
  font-size: 15em;
  width: 100%;
}
#playerOneWinner {
  display: none;
  height:10%;
  font-family: monospace;
  font-size: 5em;
  color: red;
  text-align: center;
}

#playerTwoWinner {
  display: none;
  height:10%;
  font-family: monospace;
  font-size: 5em;
  color: blue;
  text-align: center;
}

#catsGame {
  display: none;
  height:10%;
  font-family: monospace;
  font-size: 5em;
  color: green;
  text-align: center;
}
